
/*Montserrat Font*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html::before {
  opacity: calc(30 * 0.01);
}

* {
  margin: 0px;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
  }

h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
  }

  .name {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 8px;
    line-height: 1.5;
    padding: 1em 8em;
    width: 100vw;
  }

.intro {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  gap: 8px;
  line-height: 1.5;
  padding: 2em 8em;
  width: 100vw;
}

.projects {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 24px;
    padding: .5em 8em;
    width: 100vw;
}

.projects a {
  text-decoration: none;
  text-align: center;
}

.profile {
  display: inline-flex;
  flex-direction: row;
  width: 140px;
  position: center;
border-radius: 999px;
}

.pmain {
    display: inline-flex;
    flex-direction: row;
    width: 25vw;
    position: relative;
	border-radius: 24px;
}

.mainbutton {
  font-family: 'Montserrat';
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 12px;
  width: max-content;
  min-width: 200px;
  border-radius: 999px;
  color: #FFF;
  flex-direction: row;
  position: relative;
  border: solid 2px #028BE5;
  background-color: #028BE5;
}

.mainbutton:hover {
  text-decoration: none;
  border: solid 2px #010E83;
  background-color: #010E83 ;
}
nav {
    font-size: 18px;
    font-weight: 300;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
  }

nav a {
    text-decoration: none;
    color: #070A0F;
    font-size: 18px;
}
nav a:hover {
    color: #3C4BD2;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 6px 50px;
    display: flex;
  }

  nav ul li {
    cursor: pointer;
    padding: 12px 24px;
    flex: auto;
    text-align: center;
    text-decoration: none;
    color: #070A0F;
  }

.embedptype {
	display: block;
	align-content: center;
	width: 100vw;
	padding: 1em 8em;
}

/*Begin Reponsive Media sizing */
  @media screen and (max-width: 600px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: contents;
      }

      nav ul li {
        cursor: pointer;
        padding: 0.5rem;
        flex: auto;
        text-align: center;
        text-decoration: none;
        color: #070A0F;
      }
     .firstnav {
          float: none;
          display: contents;
          padding: 24px;
          gap: 24px;
      }
      .secondnav {
        float: none;
        display: contents;
        padding: 24px;
        gap: 24px;
    }
    .pmain {
      width: 75vw;
    }
   .projects {
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
  }
/*End Responsive Resizing*/ 

